################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gym/.vs/Gym/v16
/Gym/obj
/Gym/bin/Debug/net5.0
/Gym/.vs/Gym/DesignTimeBuild/.dtbcache.v2
/GymModels/bin/Debug/net5.0
/GymModels/obj
/Gym/wwwroot/uploadedimages
